# Ignorer tout sauf ce qu’on veut dans dist/
dist/*
!dist/**/*.html
!dist/**/*.css
!dist/**/*.js
!dist/**/*.map
!dist/assets/**

# Autres règles normales
logs
*.log
node_modules
dist-ssr
*.local

# Éditeurs
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
